<% if flash.notice %>
    <div class="alert alert-danger" role="alert">
    <%= flash.notice %>
    </div>
<% end %>
<div class="row">
    <div class="col-4">
        <div class="shadow-lg p-3 mb-5 bg-light rounded">
        <h1 class="display-1">Login</h1>
        <%= form_tag login_path do %>
            <p><%= label_tag :username %></p>
            <p><%= text_field_tag :username %></p>
            <p><%= label_tag :password %></p>
            <p><%= password_field_tag :password %></p>
            <p><%= submit_tag "LOGIN" %></p>
        <% end %>

        <p><small>No account?<%= link_to " Create one!", signup_path %></small></p>
        </div>
    </div>

      <div class="col-8 rounded-lg">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner login_carousel">
                      <div class="carousel-item active data-interval="1000">
                          <img src=<%= asset_path('loginstock.jpg') %> class="d-block w-90" alt="...">
                      </div>
                      <div class="carousel-item data-interval="1000">
                        <img src=<%= asset_path('loginstock2.jpg') %> class="d-block w-90" alt="...">
                      </div>
                      <div class="carousel-item data-interval="1000">
                          <img src=<%= asset_path('loginstock3.jpg') %> class="d-block w-90" alt="...">
                      </div>
                    </div>
            </div>
          </div>

</div>