<%= render partial: "shared/navbar",locals:{object:@user} %>
  <h3>Matches:</h3>
  <div class="row">
    <% @user.matches.each do |match| %>
    <div class="col">
    <div class="card" style="width: 16rem;">
        <%= render partial: "shared/avatar", locals: {object: match} %>
        <div class="card-body">
        <h5 class="card-title"><li><%= link_to match.name,user_path(match)  %></li></h5>
        </div>
    </div>
    </div>
    <% end %>
  </div>
  
  <div class="row">
      <div class="col">
      <h3>Messages:</h3>
      <% @user.receiver_relationships.each do |message| %>
      <div class="col">
      <h5>From: <%= message.sender.name %></h5>
      <p><%= message.content %></p>
      </div>
      <% end %>
    </div>
    <div class="col">
      </div>
    </div>

