
<ul>

<div class="container">
  <div class="menu">
    <ul>
      <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar,height: "50", width: "50" %>
      <% else %>
      <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973461_960_720.png", height: "50", width: "50" %>
      <% end %>
      <%= link_to "MESSAGES", messages_path %>
      <%= link_to "INTERESTED", "www.g1.com.br" %>
      <%= link_to "EXPLORE",matchmaker_index_path %>
      <%= link_to "EDIT",current_user_edit_path  %>
      <%= link_to "LOGOUT",logout_path, method: :delete%>

    </ul>

  </div>
  <div class="matches">
    <h3>Matches:</h3>
    <% @user.matches.each do |match| %>
    <%= render partial: "shared/avatar", locals: {object: match} %>
    <li><%= link_to match.name,user_path(match)  %></li>
    <% end %>
  </div>
  <div class="footer">
    <div class="messages">
      <h3>Messages:</h3>
      <% @user.receiver_relationships.each do |message| %>
      <h5>From: <%= message.sender.name %></h5>
      <p><%= message.content %></p>
      <% end %>

    </div>
    <div class="people_nearby">

    </div>

  </div>

</div>
