
<h1 class="display-3">Messages:</h1>

<div class="message_nav">
<%= link_to "Compose Message", new_message_path %>
</div>

<div class="row">
<% current_user.user_conversations.each do |person| %>
<div class="col-sm-6">
<div class="message_window border-dark shadow p-3 mb-5 bg-light rounded">
      <%= render partial: "shared/avatar-resize", locals: {object: person,x:50,y:50}%>
      <%= person.name  %>
      <% current_user.get_conversation(person).each do |message| %>
      <p class="message_content"> <span class="message_sender"><%= message.sender.name %>:</span> <%= message.content %> <span class="message_date"><%= message.created_at.strftime("at %I:%M%p") %></span></p>
      <% end %>
      <%= form_tag send_message_path do%>
      <%= label_tag :message %>:
      <%= text_field_tag "message[content]" ,nil,class: "text_chat"%>
      <%= hidden_field_tag "message[sender_id]", current_user.id %>
      <%= hidden_field_tag "message[receiver_id]", person.id %>
      <%= submit_tag "Send" %>
      <% end %>
</div>
</div>
<% end %>
</div>
