<%= render partial: "shared/navbar",locals:{object:current_user} %>
<h2><%= link_to " Sent Messages",sent_messages_path %></h2>
<h1>Received Messages:</h1>
<% @current_user.receiver_relationships.each do |message| %>
      <h5>From: <%= message.sender.name %></h5>
      <p><%= message.content %></p>
      <% end %>
<h1><%= link_to "NEW MESSAGE", new_message_path %></h1>
<h1><%= link_to "Back to homepage",homepage_path %></h1>