<h1>Sign up</h1>
<%= form_for @user, :url => signup_path do |t| %>
<h3>Username</h3>
<%= t.text_field :username %>
<h3>Password</h3>
<%= t.password_field :password %>
<h3>Picture:</h3>
<%= t.file_field :avatar%>
<h3>Name:</h3>
<%= t.text_field :name %>
<h3>Location:</h3>
<%= t.text_field :location %>
<h3>Age:</h3>
<%= t.text_field :age %>
<br>
<br>
<br>
<%= t.submit %>
<% end  %>
