
<h1 class="display-1">Sign up</h1>
<%= form_for @user, :url => signup_path do |t| %>
    <p><%= t.label :username %></p>
    <p><%= t.text_field :username %></p>
    <p><%= t.label :password %></p>
    <p><%= t.password_field :password %></p>
    <p><%= t.label :password_confirmation %></p>
    <p><%= t.password_field :password_confirmation %></p>
    <p><%= t.label :name %></p>
    <p><%= t.text_field :name %></p>
    <p><%= t.label :location %></p>
    <p><%= t.text_field :location %></p>
    <p><%= t.label :age %></p>
    <p><%= t.text_field :age %></p>
    <p><%= t.label :gender %></p>
    <p><%= t.select :gender, [ "male","female","other" ], :prompt => 'Select One' %></p>
    <p><%= t.label :avatar %></p>
    <p><%= t.file_field :avatar%></p>
    <br>
    <p><%= t.submit %></p>
<% end  %>
