
<h3>TO:</h3>
<%= form_for @message, :url => messages_path do |f| %>
<%= f.collection_select(:receiver_id, @user.matches, :id, :name) %>
<%= f.text_area :content %>
<%= hidden_field_tag "message[sender_id]", @user.id  %>
<%= f.submit "SEND" %>
<% end %>