
<h1 class="display-2"><%= @user.name %>'s Profile</h1>
    <%= render partial: "shared/avatar", locals: {object: @user} %>
    <p>Name: <%= @user.name %></p>
    <p>Location: <%= @user.location %></p>
    <p>Age: <%= @user.age %></p>
    <p>Gender: <%= @user.gender.capitalize if @user.gender%></p>
