<h1><%= @user.name %>'s Profile</h1>
<% if @user.avatar.attached? %>
<%= image_tag @user.avatar,height: "250", width: "250" %>
<% else %>
<%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973461_960_720.png", height: "250", width: "250" %>
<% end %>
    <h4>Name: <%= @user.name %></h4>
    <h4>Location: <%= @user.location %></h4>
    <h4>Age: <%= @user.age %></h4>
    <h4>Gender: <%= @user.gender.capitalize %></h4>

<ul>

<h1><%= link_to "BACK TO HOME", homepage_path %></h1>