<h1><%= @user.name %>'s Profile</h1>
    <%= render partial: "shared/avatar", locals: {object: @user} %>
    <h4>Name: <%= @user.name %></h4>
    <h4>Location: <%= @user.location %></h4>
    <h4>Age: <%= @user.age %></h4>
    <h4>Gender: <%= @user.gender.capitalize %></h4>

<ul>

<h1><%= link_to "BACK TO HOME", homepage_path %></h1>