<ul>
    <% @users.each do |user| %>
    <li><%= user.name %> - <%= user.id %> ------ <%= current_user.name %> - <%= current_user.id %></li>
    <%= link_to "YES", yes_path(user.id) %> /  <%= link_to "NO" , no_path(user.id) %>
    <% end %>
</ul>

<h1><%= link_to "BACK TO HOMEPAGE",homepage_path %></h1>